
<h1>Link Pasien</h1>


<table>
  <tr>
    <th>
      <p style="text-align:left">
        <b>1. FAGERSTROM QUESTIONNAIRE</b>
      </p>
    </th>
    <th> : </th>
    <th>
      <a href ="http://ow.ly/aF2hS"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2lT"><span></span>Result</a> 
    </th>    
  </tr>
  
  <tr>
  </tr>

  <tr>
    <th>
      <p style="text-align:left">
        <b>2. PATIENT QUESTIONNAIRE</b>
      </p>
    </th>
    <th> : </th>
    <th>
      <a href ="http://ow.ly/aF2rz"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2uh"><span></span>Result</a> 
    </th>    
  </tr>

  <tr>
  </tr>

  <tr>
    <th>
      <p style="text-align:left">
        <b>3. MEDICAL RECORD</b>
      </p>
    </th>
    <th> : </th>
    <th>
      <a href ="http://ow.ly/aF2zr"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2Fe"><span></span>Result</a> 
    </th>
  </tr>

  <tr>
  </tr>

  <tr>
    <th>
      <p style="text-align:left">
        <b>4. TREATMENT PLAN</b>
      </p>
    </th>
    <th> : </th>
    <th>
      <a href ="http://ow.ly/aF2Jr"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2Ng"><span></span>Result</a> 
    </th>    
  </tr>

</table>




