
<h1>Link Pasien</h1>


<table>
  <tr>
    <b>FAGERSTROM QUESTIONNAIRE</b>
  </tr>
  <tr>
    <th>
      <a href ="http://ow.ly/aF2hS"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2lT"><span></span>Result</a> 
    </th>    
  </tr>
  
  <tr>
  </tr>

  <tr>
    <b>PATIENT QUESTIONNAIRE</b>
  </tr>
  <tr>
    <th>
      <a href ="http://ow.ly/aF2rz"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2uh"><span></span>Result</a> 
    </th>    
  </tr>

  <tr>
  </tr>

<tr>
    <b>MEDICAL RECORD</b>
  </tr>
  <tr>
    <th>
      <a href ="http://ow.ly/aF2zr"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2Fe"><span></span>Result</a> 
    </th>    
  </tr>

  <tr>
  </tr>

<tr>
    <b>TREATMENT PLAN</b>
  </tr>
  <tr>
    <th>
      <a href ="http://ow.ly/aF2Jr"><span></span>Form</a> 
    </th>
    <th> | </th>
    <th>
      <a href ="http://ow.ly/aF2Ng"><span></span>Result</a> 
    </th>    
  </tr>

</table>




